@media (min-width: 768px) {
    .wrapperBody {
        margin-right: 10px;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto auto 80px;
        grid-template-areas: 
        "header main"
        "header picture"
        "header footer";
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }
    
    .picture-area {
        grid-area: picture;
    }

    footer {
        grid-area: footer;
    }

    .topNavBar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top:0;
    }

    ul li {
        margin-top: 20px;
    }
}